/* custom input set appearance to none so you can customize the styling */
.checkbox {
  appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid #ccc;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: all 0.25s ease;
  vertical-align: middle; 
}


.checkbox:hover {
  border-color: #888;
}

.checkbox:checked {
  background-color: #4caf50;
  border-color: #4caf50;
}


.checkbox:checked::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 0px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.checkbox:focus {
  outline: 2px solid #90caf9;
  outline-offset: 2px;
}



/*  color inputs */
input {
  padding: 8px 12px;
  margin: 8px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

input[type="color"] {
  width: 60px;
  height: 40px;
  padding: 0;
  border: 2px solid #555;
  border-radius: 4px;
  cursor: pointer;
}

/* Date input */

}

input[type="date"] {
  padding: 6px 10px;
  border: 2px solid #555;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background-color: #4CAF50;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
